@font-face {
  font-family: 'geomanist';
  src: url('../assets/fonts/geomanist/geomanist-book.woff2') format('woff2'),
    url('../assets/fonts/geomanist/geomanist-book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'cornerstone';
  src: url('../assets/fonts/cornerstone.woff2') format('woff2'),
    url('../assets/fonts/cornerstone.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #ff71ba;
  font-family: 'geomanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

#root {
  width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: #5c4268;
  transition: top 1s ease-out;
  z-index: 100;

  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    transition: top 0.1s ease-in;
  }
}

header {
  position: relative;
  text-align: center;
  padding-top: 3em;

  h1 {
    display: flex;
    justify-content: center;
    color: #313030;
    font-weight: bold;
    font-family: 'cornerstone', sans-serif;
    font-size: 2.5em;

    img {
      margin-right: 0.5em;
    }
  }

  nav {
    max-width: 63.75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    padding: 0.5em;
    background-color: #ffffff;
    border-radius: 7em;
    border: 1px solid rgba(32, 33, 36, 0.12);
    background-clip: padding-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    display: flex;
    align-items: center;

    a {
      position: relative;
      color: #5c4268;
      border: 2px solid transparent;
      border-radius: 6em;
      padding: 0 0.75em;
      font-size: 1em;
      line-height: 2em;
      text-decoration: none;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }

      &:nth-of-type(n + 2) {
        &:before {
          content: '';
          position: absolute;
          left: -2px;
          top: 15%;
          height: 70%;
          width: 1px;
          background: rgba(32, 33, 36, 0.1);
        }
      }

      &.active {
        color: #a84a7a;
      }

      &:focus:not(:active) {
        outline: 2px solid transparent;
        box-shadow: 0 0 0 2px #8b9099;

        &.active {
          box-shadow: 0 0 0 2px #a84a7a;
        }
      }
    }
  }
}

main {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  min-height: 40em;
  padding-top: 2em;
  padding-bottom: 2em;
  outline: 0;

  & > p {
    text-align: center;
  }

  .main-heading {
    font-family: 'cornerstone', sans-serif;
    padding: 1rem 0 2rem;
    color: #313030;
    font-size: 1.8em;
    outline: 0;
    text-align: center;
  }

  .loading {
    font-size: 3em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 3em;
  }

  .fully-stocked {
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 3em;
  }

  ul {
    &.container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 2em;
      list-style: none;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
      }
    }
  }

  section {
    &.card {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: max-content;
      height: 100%;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1em;
      cursor: pointer;
      border: 1px solid rgba(32, 33, 36, 0.12);
      background-clip: padding-box;

      transform: translate(0) scale(1, 1);
      transition: all 0.2s ease-in-out;

      @media screen and (max-width: 600px) {
        grid-template-rows: 70% 30%;
      }

      &:hover,
      &:focus-within {
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        .text-container {
          h3 {
            a {
              text-decoration: underline;
            }
          }
        }
      }

      &:focus-within {
        box-shadow: 0 0 0 3px #ff71ba, 0 0 0 6px rgba(0, 0, 0, 0.6);

        a {
          outline: 2px solid transparent;
        }
      }

      .text-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        padding: 1.5em;
        height: 100%;

        h3 {
          padding: 0;
          color: #403147;
          font-size: 1.25em;
          line-height: 1.4375em;

          a {
            color: #403147;
            margin-bottom: 1.5em;
            text-decoration: none;
          }
        }
      }

      .image-container {
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: #f8f8f8;
        text-align: center;
        border-top-right-radius: 1em;
        border-top-left-radius: 1em;
        padding-top: 3em;
        padding-bottom: 3em;
        height: 100%;
        border-bottom: 1px solid rgba(32, 33, 36, 0.1);

        img {
          max-width: 60%;
        }
      }
    }

    .card-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0.3em 0 0 0;

      p {
        margin: 0;
        color: #403147;
      }

      p.price {
        font-size: 1em;
        position: relative;
        margin-right: 1.125em;
        color: rgba(64, 49, 71, 0.8);

        &:after {
          content: '';
          width: 4px;
          height: 4px;
          position: absolute;
          top: 50%;
          margin-top: -3px;
          right: -0.7em;
          background: rgba(64, 49, 71, 0.4);
          border-radius: 50%;
        }
      }

      p.stock {
        font-size: 1em;
        color: rgba(64, 49, 71, 0.8);

        &.out {
          color: #d8474f;
        }
      }

      p.description {
        width: 100%;
        margin-top: 1em;
        line-height: 1.375em;
        color: rgba(64, 49, 71, 0.9);
        font-size: 0.875em;
      }
    }
  }

  .form-frame {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1em;
    font-weight: 400;
    border: 1px solid rgba(32, 33, 36, 0.12);
    background-clip: padding-box;
    border-radius: 1em;

    .image-container {
      display: flex;
      background-color: #f8f8f8;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      border-right: 1px solid rgba(32, 33, 36, 0.1);

      img {
        flex: 1;
        align-self: center;
        justify-self: center;
        margin-left: 2em;
        margin-right: 2em;
      }
    }

    .form-container {
      background-color: #ffffff;
      border-top-right-radius: 1em;
      border-bottom-right-radius: 1em;
      padding: 2em;

      form {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0;

        label {
          justify-self: right;
          align-self: start;
          color: rgba(64, 49, 71, 0.8);
          line-height: 2.375em;
        }

        textarea {
          resize: vertical;
        }

        .checkbox-wrapper {
          min-height: 3em;

          // custom
          display: flex;
        }

        input,
        select,
        textarea {
          margin-bottom: 1.5em;
        }

        input[type='checkbox'] {
          cursor: pointer;
          outline: 0;
          margin: 1.175em 0px;
          z-index: 5;

          // custom
          opacity: 0;
          position: absolute;

          & + .checkbox-wrapper-checked {
            display: inline-block;
            width: auto;

            padding-left: 2rem;
            position: relative;

            &:before,
            &:after {
              display: inline-block;
              position: absolute;
            }

            &:before {
              content: '';
              border: 1px solid #8b9099;
              border-radius: 3px;
              display: inline-block;
              height: 1.125em;
              width: 1.125em;
              left: 0;
              top: 8px;
              transition: 0.2s box-shadow ease-in-out;
            }

            &:after {
              border-bottom: 2px solid;
              border-left: 2px solid;
              content: none;
              display: inline-block;
              height: 5px;
              left: 4px;
              top: 13px;
              width: 10px;
              transform: rotate(-45deg);
            }
          }

          &:checked + .checkbox-wrapper-checked:after {
            content: '';
            color: #fff;
          }

          &:checked + .checkbox-wrapper-checked:before {
            background: rgba(64, 49, 71, 1);
            border-color: rgba(64, 49, 71, 1);
          }

          &:focus:not(:active) + .checkbox-wrapper-checked:before {
            outline: 2px solid transparent;
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8b9099;
          }
        }

        input:not([type='checkbox']),
        select,
        textarea {
          width: 100%;
          justify-self: left;
          align-self: center;
          background: #fff;
          border: 1px solid #8b9099;
          border-radius: 6px;
          color: rgba(32, 33, 36, 1);
          font-size: 1rem;
          line-height: 2.25em;
          min-width: 10rem;
          padding: 0 0.75em;
          vertical-align: baseline;
          font-family: 'geomanist', sans-serif;
          transition: box-shadow 0.2s ease-in-out;
        }

        select {
          border-radius: 6px;
          height: 36px;
        }

        input:not([type='checkbox']),
        textarea,
        select {
          box-shadow: none;
          outline: 2px solid transparent;

          &:focus {
            outline: 2px solid transparent;
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8b9099;
          }
        }

        .button-container {
          grid-column: 2;
          min-width: 10rem;
          justify-self: left;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1em;

          button {
            display: inline-block;
            padding: 0 1em;
            line-height: 2em;
            margin: 0;
            outline: 0;
            border: 0;
            border-radius: 5em;
            font-size: 1rem;
            cursor: pointer;
            font-family: 'geomanist', sans-serif;
            transition: box-shadow 0.2s ease-in-out;

            &:focus {
              outline: 2px solid transparent;
            }
          }

          .ok {
            background-color: #0f8261;
            color: #fff;
            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

            &:focus:not(:active) {
              box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), 0 0 0 2px #ffffff,
                0 0 0 4px #0f8261;
            }

            &:active {
              box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
            }
          }

          .warning {
            background: #ab131c;
            color: #fff;
            box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);

            &:focus:not(:active) {
              box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15), 0 0 0 2px #ffffff,
                0 0 0 4px #ab131c;
            }

            &:active {
              box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
            }
          }
        }

        .error {
          input,
          select,
          textarea {
            border: 1px solid #d8474f;
            background-color: rgba(216, 71, 79, 0.07);

            &:focus {
              box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(216, 71, 79, 1);
            }
          }
        }

        .error-wrapper {
          min-height: 2em;
          padding-top: 0.2em;
          padding-bottom: 0.5em;

          span {
            color: #ab131c;
          }
        }
      }

      dl {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 0;
        line-height: 2.375em;

        dt {
          justify-self: right;
          align-self: start;
          color: rgba(64, 49, 71, 0.8);
        }

        dd {
          justify-self: left;
          align-self: center;
          margin: 0;
          text-align: left;
        }
      }
    }

    @media screen and (max-width: 880px) {
      grid-template-columns: 1fr;

      font-size: 1em;

      .image-container {
        border-radius: 1em 1em 0 0;
        display: flex;
        justify-content: center;
        max-width: 100vw;
        padding-top: 2em;
        padding-bottom: 2em;

        img {
          max-width: 10em;
        }
      }

      .form-container {
        border-radius: 0 0 1em 1em;
        max-width: 100vw;

        form .error .error-wrapper > span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

footer {
  max-width: 63.75em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 4px 4px;
  color: #313030;
  text-align: center;
  padding-bottom: 2em;

  span {
    margin: 0;
    font-family: 'cornerstone', sans-serif;
    font-weight: 600;
  }
}
